<!DOCTYPE html>
<html>
<head>
	<title>Test</title>
</head>
<body>
<!--nav bar-->
<ul>
  <li><a href="/">Home</a></li>
  <li><a href="/student">Student</a></li>
  <li><a href="/enrollment">Enrollment</a></li>
  <li><a href="/student_class">Students and Classes</a></li>
  <li><a href="/instructor">Instructors</a></li>
  <li><a href="/academic_rank">Academic Rank</a></li> 
  <li><a href="/class">Classes</a></li>
  <li><a href="/degrees">Degrees</a></li>
  <li><a href="/student_degree">Students and Degrees</a></li>
</ul>

	{{{body}}}

</body>
</html>